mixin projects(projects = [])
	ul.projects
		each project in projects
			- var { id, title, author, preview, mobileOrder } = project
			li.project.projects__item(style=`--mobile-order: ${mobileOrder};`)
				button.project__btn.js-modal-trigger(data-modal=id, tabindex="0")
				.project__img
					img(src=preview, alt="")
				.project__overlay
				.project__content
					h2.project__title!=title
					if author
						p.project__author=author
