-
	var modals = [
		{
			id: "the-magic-staff",
			imagePath: "/img/portfolio/realized/the-magic-staff/",
			imageNum: 8
		},
		{
			id: "puss-in-boots",
			imagePath: "/img/portfolio/realized/puss-in-boots/",
			imageNum: 8
		},
		{
			id: "the-catcher",
			imagePath: "/img/portfolio/realized/the-catcher/",
			imageNum: 18
		},
		{
			id: "the-overcoat",
			imagePath: "/img/portfolio/realized/the-overcoat/",
			imageNum: 22
		},
		{
			id: "jorney-with-wind",
			imagePath: "/img/portfolio/realized/jorney-with-wind/",
			imageNum: 9
		},
		{
			id: "father",
			imagePath: "/img/portfolio/realized/father/",
			imageNum: 7
		},
		{
			id: "little-humpbacked-horse",
			imagePath: "/img/portfolio/realized/little-humpbacked-horse/",
			imageNum: 10
		},
		{
			id: "accidental-death-of-anarchist",
			imagePath: "/img/portfolio/realized/accidental-death-of-anarchist/",
			imageNum: 12
		},
		{
			id: "hedda-gabler",
			imagePath: "/img/portfolio/realized/hedda-gabler/",
			imageNum: 30
		},
		{
			id: "wise-man-stumbles",
			imagePath: "/img/portfolio/realized/wise-man-stumbles/",
			imageNum: 16
		},
		{
			id: "the-golden-fleece",
			imagePath: "/img/portfolio/realized/the-golden-fleece/",
			imageNum: 15
		},
		{
			id: "cemetery-club",
			imagePath: "/img/portfolio/realized/cemetery-club/",
			imageNum: 9
		},
		{
			id: "black-comedy",
			imagePath: "/img/portfolio/realized/black-comedy/",
			imageNum: 11
		},
		{
			id: "plague-on-both-houses",
			imagePath: "/img/portfolio/realized/plague-on-both-houses/",
			imageNum: 30
		},
		{
			id: "sha-sha-in-the-left-shoe",
			imagePath: "/img/portfolio/realized/sha-sha-in-the-left-shoe/",
			imageNum: 10
		},
		{
			id: "little-nicolas",
			imagePath: "/img/portfolio/realized/little-nicolas/",
			imageNum: 26
		},
	]

each modal in modals
	.modal(id=modal.id).js-modal-close
		.modal__container
			button.modal__close.js-modal-close
			.modal__inner.gallery
				.swiper-container.gallery__slider.js-portfolio-slider
					.swiper-wrapper
						- var i = 1;
						while (i <= modal.imageNum)
							if(i === 1)
								.swiper-slide.gallery__item
									img(src=`${modal.imagePath}${i}.jpg`, alt="")
							else
								.swiper-slide.gallery__item
									img.swiper-lazy(data-src=`${modal.imagePath}${i}.jpg`, alt="")
							- i++;
					.gallery__button.gallery__button--prev
					.gallery__button.gallery__button--next
