-
	var modals = [
		{
			id: "master-margarita",
			imagePath: "/img/portfolio/scenographic/master-and-margarita/",
			imageNum: 24
		},
		{
			id: "the-head",
			imagePath: "/img/portfolio/scenographic/the-head/",
			imageNum: 9
		},
		{
			id: "the-merry-wives",
			imagePath: "/img/portfolio/scenographic/the-merry-wives/",
			imageNum: 5
		},
		{
			id: "three-sisters",
			imagePath: "/img/portfolio/scenographic/three-sisters/",
			imageNum: 6
		},
		{
			id: "three-fat-men",
			imagePath: "/img/portfolio/scenographic/three-fat-men/",
			imageNum: 10
		},
		{
			id: "the-birds",
			imagePath: "/img/portfolio/scenographic/the-birds/",
			imageNum: 13
		},
		{
			id: "the-flying-dutchman",
			imagePath: "/img/portfolio/scenographic/the-flying-dutchman/",
			imageNum: 1
		},
		{
			id: "falstaff",
			imagePath: "/img/portfolio/scenographic/falstaff/",
			imageNum: 8
		}
	]

each modal in modals
	.modal(id=modal.id).js-modal-close
		.modal__container
			button.modal__close.js-modal-close
			.modal__inner
				.gallery
					.swiper-container.gallery__slider.js-portfolio-slider
						.swiper-wrapper
							- var i = 1;
							while (i <= modal.imageNum)
								if(i === 1)
									.swiper-slide.gallery__item
										img(src=`${modal.imagePath}${i}.jpg`, alt="")
								else
									.swiper-slide.gallery__item
										img.swiper-lazy(data-src=`${modal.imagePath}${i}.jpg`, alt="")
								- i++;
						.gallery__button.gallery__button--prev
						.gallery__button.gallery__button--next
